extends layout

block content
  h2 Character Sheet For #{char.alias()}
  table(class='big')
    tr
      th Attribute
      th Value
    each field in fields
      tr
        td #{field.display}
        td 
          if field.type === 'bool'
            =char[field.name] ? 'Yes' : 'No'
          else
            =char[field.name]
