extends layout

mixin row(char, style)
  tr
    td(class=style)
      if char.pc
        b
          i= char.alias()
      else
        = char.alias()
    td(class=style)
      div !{char.status()}

block content
  p
  table(class='big')
    +row(chars[0], 'big top')
    +row(chars[1], 'big next')
    each char in chars.slice(2)
      +row(char, 'big')
