extends layout

block content
  p
  table(class='big')
    - let char = chars[0]
    - let style = 'big top'
    include char_row
    - char = chars[1]
    - style = 'big next'
    include char_row
    each char in chars.slice(2)
      - style = 'big'
      include char_row
