extends layout

block content
  h2 Character Sheet For #{char.display}
  table(class='big')
    tr
      th Attribute
      th Value
    each field in fields
      if field.display
        tr
          td 
            i #{field.display}
          td 
            if field.type === 'element'
              =char.elements[field.name].toString('')
            else if field.type === 'bool'
              =char[field.name] ? 'Yes' : 'No'
            else
              =char[field.name]
