extends layout

mixin row(char, style)
  tr
    td(class=style)
      if char.pc
        b
          i= char.alias()
      else
        = char.alias()
    td(class=style)
      div !{char.status()}

block content
  p
  table(class='big')
    +row(chars[0], 'big top')
    +row(chars[1], 'big next')
    each char in chars.slice(2)
      +row(char, 'big')
  hr
  p Notes: The summary indicates the stare of each character. Player characters are in bold.
  p It also indicates the order of play; who every is in green at the top, it is their turn now. The next player, in yellow, should already be thinking about what he or she will do.
