div(id='helpDiv')
  p Give your character a #[b name]. The system uses this to track the character, once it is saved, it cannot be changed, so choose wisely! And please capitalise it. You can also give your character a #[b profession], #[b sex] and #[b race], but these are optional and have no tactical effect. If you want to play a race with special abilities, you need to buy those abilities.

  p Your #[b level] should be #{settings.startLevel} if you are just creating your character (but will increase over time as your character gains experience). You will have a number of #[b points] to spent on profession packages equal to #{settings.pointsPerLevel} times your level plus #{settings.bonusPoints}. Note that if you do change the level, you should #[b Refresh] the page so the validation gets updated.

  p Although you can select up to #{settings.maxWeaponLines * 2} #[b weapons], the number you can actually use (i.e., have skill in) will be show in the table on the right, and defaults to 1. You can increase that by getting at least three ranks in combat-orientated packages (the number displayed can be adjusted in the settings, by the way). Remember to get a ranged weapon if that is your thing. Weapons will be reset to "None" when you update if you do not have enough slots.

  p Click on the #[b package] name to see details (in a new tab). The points you spent will be displayed as you spend them. If the box is yellow you have more to spend, if it is red you have over spent. If it is green you are good to go. You cannot have more points on one package than your level. Also, some similar packages are grouped and if you spend points on one you cannot spend points on the others;  for example you can only spend points on one of the striker/defender packages.

  p The table on the right shows your character's #[b stats, abilities] and so on; all the bonuses from the packages you pick. Click the #[b Refresh] button to update it (the data needs to go back to the server, which knows the rules and can work out what is needed here). Note that the "attack" bonus applies to melee and ranged attacks, but not to spells and other special effects.

  p Note any warnings!

  p Virtually every character should get at least some skill in one warrior package. A character's attack bonus applies to all melee and ranged weapon attacks, but is the highest value across the warrior packages (all other skills are summed across packages).

  p Getting a single level in a "Magic" package will make the character a spell caster. Skill at spell casting applies only to spells in that package. In contrast, "Natural magic" is not spell casting, but using magic around you. Note that a couple of "Utility" packages are very useful to spell casters.

