<script>
  function validate() {
    //const names = $('input[name="chars"]').val().split(' ')
    const chars = []
    const errors = []

    //const inputs = $('.damage_input')
    const inputs = document.querySelectorAll('input[class="damage_input"]')
    console.log("found: " + inputs.length)
    for (let input of inputs) {
      console.log(input)
      console.log("got: " + input.value)
      if (!input.value.match(/^\d+$/)) errors.push('Bad value set for ' + input.name)
    }      
    
    if (errors.length > 0) {
      flagErrors(errors)
      return false
    }
    
    document.querySelector('#errors').style.display = 'none'
    return true
  }
  
  function flagErrors(ary) {
    document.querySelector('#errors').style.backgroundCcolor = 'red'
    //const html = document.getElementById('errors')
    document.querySelector('#errors').style.display = 'block'
    document.querySelector('#errors').innerHTML = "<i>Errors prevented this form being submitted:</i><br/>" + ary.join('<br/>')
    setTimeout(function(){ document.body.style.backgroundCcolor = 'white' }, 30)
    setTimeout(function(){ document.body.style.backgroundCcolor = 'red' }, 60)
    setTimeout(function(){ document.body.style.backgroundCcolor = 'white' }, 120)
  }  
  
  
</script>