<script>
  function validate() {
    //const names = $('input[name="chars"]').val().split(' ')
    const chars = []
    const errors = []

    //const inputs = $('.damage_input')
    const inputs = $('input[class="damage_input"]')
    console.log("found: " + inputs.length)
    for (let input of inputs) {
      //console.log("got: " + input.val())
      console.log(input)
    }      
    
    if (errors.length > 0) {
      flagErrors(errors)
      return false
    }
    
    $('#errors').hide()
    return true
  }
  
  function flagErrors(ary) {
    $('body').css('background-color', 'red')
    //const html = document.getElementById('errors')
    $('#errors').show()
    $('#errors').html("<i>Errors prevented this form being submitted:</i><br/>" + ary.join('<br/>'))
    setTimeout(function(){ $('body').css('background-color', 'white'); }, 30);
    setTimeout(function(){ $('body').css('background-color', 'red'); }, 100);
    setTimeout(function(){ $('body').css('background-color', 'white'); }, 130);
  }  
  
  
</script>