extends layout

block content
  h3 Welcome!
  p The Pixie Encounter Tool is a multi-component system for running RPG games. Ideally, each player will have their character displayed on a tablet or smart phone, whilst the summary can be seen by everyone, displayed on a monitor or TV screen. Once these are set up, you  can just leave them; they will update automatically (every #{refreshRate} seconds).
  p The GM should go to the Encounter page on a laptop or desktop computer, and control everything from there.
  
  hr
  h3 For Players
  
  p
    | You can create a new character by clicking on the link below
    |  (best done on a bigger screen). Once you have a character set up, you can view it on your mobile or tablet
    |  during play. You can also edit it (if you go up a level, for example), or see a PDF version that can be printed.
  
  form(method="post" action="/packages")
    input(type="submit" name="submit_param" value="Create new" class="link-button")
    input(type='hidden' name='action' value='new')
    
  br
  
  table
    each char in chars
      tr
        td
          b
            =char.display
        td
          a(href='/chars/' + char.name) View
        td
          form(method="post" action="/packages/")
            input(type="submit" name="submit_param" value='Edit existing' class="link-button")
            input(type='hidden' name='name' value=char.name)
            input(type='hidden' name='action' value='edit')
        td
          a(href='/chars/' + char.name + '.pdf') PDF
        
  
  
  p If this is screen for everyone to watch, please click on this link:
  p
    a(href='/chars') Character summary
    
  hr
  h3 For The GM
  
  p Click here to resolve the turn order, then start the encounter.
  p
    a(href='/encounter/inits') Initiatives
    |    (GM only)
    
  p Or go straight to the encounter.
  p
    a(href='/encounter') Encounter
    |    (GM only)
    
  p Go here to see a log of recent events.
  p
    a(href='/log') Log
    
  hr
  p You can click on the title at the top of every page to get back to this page.
