extends layout

block content
  h2 Set initiatives
  form(method="post" action="/encounter/inits")
    table(class='big')
      tr
        th Character
        th Bonus
        th Roll
      for chr in chars
        if typeof chr.init === "number"
          tr
            td
              =chr.display
            td
              =chr.init
            td
              input(type="number" name=chr.name value="10")
    p
    input(type="submit" name="submit_param" value="Submit" class="link-button")
    
  p Note that clicking "Submit" will also reset the hits of the above characters to their maximum.
