doctype html
html
  head
    title Pixies and Predators
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.4.1.min.js")
  body
    h1
      a(href='/') Pixies and Predators
    div(class='main')
      block content
    if timestamp
      footer Downloaded at #{timestamp}, copyright The Pixie 2019-20