doctype html
html
  head
    title Pixie Encounter Tool
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.4.1.min.js")
    if refresh
      meta(http-equiv="refresh", content=refresh)
  body
    h1 The Pixie Encounter Tool
    div(class='main')
      block content
    if timestamp
      footer Downloaded at #{timestamp}, copyright The Pixie 2019-20
    if refresh
      footer This page will update every #{refresh} seconds
