doctype html
html
  head
    title Pixie RPG Tool
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.4.1.min.js")
    if refresh
      meta(http-equiv="refresh", content="10")
  body
    h1 The Pixie RPG Tool
    div(class='main')
      block content
    footer Downloaded at #{timestamp}
