extends layout

mixin row(char, style)
  tr
    td(class=char.link ? style + ' link' : style)
      if char.charType === 'pc'
        b
          i= char.display
      else
        = char.display
    td(class=char.link ? style + ' link' : style)
      div !{char.statusIcons()}

block content
  p
  p Set initiatives for the order of play to be established.