extends layout

block content
  h2 List of Profession Packages Available
  table(class='big')
    each group in packages
      tr
        th(title=group.comment) #{group.name}
      each p in group.packages
        tr
          td 
            a(href='/packages/' + p.name) #{p.name}