body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0px;
}

h1, h1 > a {
  margin:0px;
  background-color: #006;
  color: white;
  padding: 2px;
  padding-left: 20px;
  cursor: pointer;
  text-decoration: none;
}

h2 {
  padding-bottom: 0;
}

footer {
  font-size: 8pt;
  color: silver;
  text-align:center;
}

div.main {
  padding: 50px;
  padding-top: 0px;
}

a {
  color: #00B7FF;
}

table {
  border: black 1px solid;
  border-collapse: collapse;
}

table.unseen {
  border: none;
}

tbody {
  border-top: #666 1px solid;
}

th {
  background-color: #006;
  color: white;
}

td.unseen {
  background-color: white;
  
}

table.unseen > tbody {
  border:none;
}

td.okay {
  /*background:green;*/
}
td.tooHigh {
  background:red;
}
td.tooLow {
  background:yellow;
}


td {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ddd;
  text-align:center;
}

td.active {
  text-align:left;
  color:#a00
}  

td.pc {
  text-align:left;
  color:#008
}  

td.dead {
  text-align:left;
  color:#fff;
}  

td.disabled {
  text-align:left;
  color:#333;
}  


td.focus {
  text-align:left;
  color:#333;
}  

td.left {
  text-align:left;
}  


td.big {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

th {
  font-style: italic;
}

td.top {
  background-color: lime;
}

td.next {
  background-color: yellow;
}

td.link {
  color: #888;
}

input[type=number] {
  width: 60px;
  font-size: 24px;
  text-align:right;
  border-radius: 5px;
}

input[type=text] {
  width: 200px;
  font-size: 24px;
  border-radius: 5px;
}

select {
  font-size: 24px;
  border-radius: 5px;
}

input[type=button], input[type=submit] {
  font-size: 1.5em;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
}

/*button.small {
  font-size: 1em;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
}*/

textarea {
  font-size: 1.5em;
  border-radius: 5px;
  width:90%; 
  height:80px;
}


input[type=submit].link-button {
  background: none;
  border: none;
  color: #00B7FF;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12pt;
  padding:0;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}



.errors {
  background-color: yellow;
  border: black 1px solid;
  padding: 2px;
  margin:50px;
  display:none;
}

li {
  text-align:left;
}





td.title {
  font-weight:bold;
}

td.secret {
  color:#888;
}
td.comment {
  color:white;
}

td.msg{
  text-align:left;
  margin-top:12px;
}


.alert {
  background-color:yellow;
}

#helpDiv {
  display:none;
  border:#ccc 1px solid;
  padding-left:20px;
  padding-right:20px;
  background-color:#eee;
  margin:15px;
  border-radius: 5px;
  text-align:justify;
}